* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://4kwallpapers.com/images/wallpapers/spider-man-marvel-superheroes-red-background-marvel-comics-2880x1800-7494.jpg");
    background-size: cover;
    
}
.sec1 {
    text-align: center;
  
    
}
h1 {
    text-align: center;
    padding-top: 10px;
    color: aliceblue;
    font-size: 2rem;
    
}
.container {
    height: 65vh;
display: flex;
 justify-content: center;
 align-items: center;
 align-items: center;

}

.buttons {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;


}
.boxes {
    font-size:5rem;
    color: aliceblue;
    height: 18vmin;
    width: 18vmin;
    border-radius: 15px;
    box-shadow: #001d16;
    background-color:black;
    


}
.reset {
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color:#000000
}

.start {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: black;
    color: azure;
    padding-top: 10px;


}
.hide {
 display: none;

}
.msg-container {
    font-size: 3rem;
    height: 20vmin;
    color:white;
    font-weight: 700;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 20px;
   
}